.social-source-icon-wrap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-top: 2px;
}

.social-source-icon {
  width: 20px;
  height: 20px;
  display: block;
}

.social-source-icon.linkedin {
  color: #0A66C2;
}

.social-source-icon.x-twitter {
  color: #000000;
}

.social-source-icon.reddit {
  color: #FF4500;
}

.source-icon-emoji {
  font-size: 18px;
  flex-shrink: 0;
  margin-top: 2px;
  line-height: 1;
}
